extends ../shared/template
block content
  h1= person.name
  form(action='/people/' + person._id + '/purchase', method='post')
    select#country(name='country')
      option Select a Country
      each c in countries
        option(value=c._id.toString())= c.name
    select#city(name='city')
      option Select a City
    button(type='submit') Purchase Trip

block scripts
  script(src='/purchase.js')
